@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(202, 131, 37)
 ;}

 @media (max-width: 768px) {
  .text-5xl {
    font-size: 3rem; /* Adjust size for smaller screens */
  }

  .text-9xl {
    font-size: 6rem; /* Adjust size for smaller screens */
  }

  /* More styles as needed */
}
